@import url('https://fonts.googleapis.com/css?family=Lora|Roboto:700&display=swap');

body {
  margin: 0;
  font-family: 'Lora', serif;
  width: 100%;
  background-color: $bbc;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 1% 3%;
  width: 90%;
}

.notlogged {
  margin: 1%;
  padding: 1%;
  border: 2px solid black;
  background-color: rgba(255,234,128, 0.8);
  border: 1px solid $cbc;
  text-align: center;
  font-size: 0.85rem;
}