.landing {
    margin: 5%;
    h2 {
        font-size: 2rem;
        text-align: center;
    }
    hr {
        width: 45%;
    }
    a {
        color: black;
    }
    div, p {
        margin: 5%;
    }
}