// COLOR VARIABLES

// Body background color
$bbc: whitesmoke;

// Table Head background color
$thd: #00cccc;

// Error Message background color
$emc: #d43b00;

// Success Message background color
$smc: #10d0ff;

// Common Border color
$cbc: #00cccc;

// Table Category Row background color
$tcr: rgba(211, 211, 211, 1);

// Table Row Odd
$tro: rgba(211, 211, 211, .5);

// Table Row Even
$tre: rgba(211, 211, 211, .2);